*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(blue, white);
    height: 100vh;
}
.container{
    margin: 60px;
}
h2{
    margin-bottom: 30px;
    font-size: 50px;
}
input{
    padding: 10px 30px;
    width: 200px;
    font-size: 20px;
    position: relative;
}
input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height:auto ;
    position: absolute;
    background-position: 100%;
    background-size: contain;
    cursor: pointer;
}
button{
    margin-top: 20px;
    padding: 10px 30px;
    background: blue;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}
h3{
    font-size: 20px;
    color: green;
   margin: 30px;
}